<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta charset="UTF-8"></meta>
<title>Crear Usuario</title>
</h:head>
<body>
	<p:panel header="Crear Usuario">
		<h:form>
			<h:panelGrid>
				<p:outputLabel value="Cedula" for="cedula-p" />
				<p:inputText id="cedula-p" value="#{usuarioBean.cedula}"/>
				<p:message for="cedula-p" />

				<p:outputLabel value="Nombre" for="nombre-p" />
				<p:inputText id="nombre-p" value="#{usuarioBean.nombre}" />
				<p:message for="nombre-p" />
				
				<p:outputLabel value="Apellido" for="apellido-p" />
				<p:inputText id="apellido-p" value="#{usuarioBean.apellido}" />
				<p:message for="apellido-p" />
				
				<p:outputLabel value="Email" for="email-p" />
				<p:inputText id="email-p" value="#{usuarioBean.email}" />
				<p:message for="email-p" />
				
				<p:outputLabel value="Direccion" for="direccion-p" />
				<p:inputText id="direccion-p" value="#{usuarioBean.direccion}" />
				<p:message for="direccion-p" />
				
				<p:outputLabel value="Telefono" for="telefono-p" />
				<p:inputText id="telefono-p" value="#{usuarioBean.telefono}" />
				<p:message for="telefono-p" />
				
				<p:outputLabel value="Contraseña" for="contraseña-p" />
				<p:inputText  id="contraseña-p" value="#{usuarioBean.contraseña}" />
				<p:message for="contraseña-p" />

				<p:commandButton value="Registrar"
					action="#{usuarioBean.registrarUsuario}"  update="@form"></p:commandButton>
			</h:panelGrid>
			

		</h:form>
		</p:panel>
</body>
</html>