<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Crear Producto</title>
</h:head>
<body>
	<p:panel header="Crear Producto">
		<h:form>
			<h:panelGrid columns="3">

				<p:outputLabel value="Codigo" for="codigo-p" />
				<p:inputText id="codigo-p" value="#{productoBean.codigo}"
					required="true" />
				<p:message for="codigo-p" />

				<p:outputLabel value="Nombre" for="nombre-p" />
				<p:inputText id="nombre-p" value="#{productoBean.nombre}"
					required="true" />
				<p:message for="nombre-p" />

				<p:outputLabel value="Descripcion" for="descripcion-p" />
				<p:inputTextarea id="descripcion-p"
					value="#{productoBean.descripcion}" required="true" />
				<p:message for="descripcion-p" />

				<p:outputLabel value="Precio" for="precio-p" />
				<p:inputText id="precio-p" value="#{productoBean.precio}"
					required="true" />
				<p:message for="precio-p" />

				<p:outputLabel value="Disponibilidad" for="disponibilidad-p" />
				<p:inputText id="disponibilidad-p"
					value="#{productoBean.disponibilidad}" required="true" />
				<p:message for="disponibilidad-p" />


				<p:outputLabel value="Fecha Limite" for="fecha-p" />
				<p:inputText id="fecha-p" value="#{productoBean.fechaLimite}"
					required="true">
					<f:convertDateTime pattern="yyyy-MM-dd" />
				</p:inputText>
				<p:message for="fecha-p" />

				<p:outputLabel value="Tipo Producto" for="tipo-p" />
				<p:selectOneMenu id="tipo-p" value="#{productoBean.tipoProducto}" autoWidth="false" required="true">
					<f:converter converterId="tipoProductoConverter" />
					<f:selectItem itemLabel="Seleccione el tipo" noSelectionOption="true" itemValue="#{null}"/>
					<f:selectItems value="#{productoBean.listaTipos}" var="tipo"  itemLabel="#{tipo.nombre}" itemValue="#{tipo}"/>
				</p:selectOneMenu>
				<p:message for="tipo-p" />
				<p:commandButton value="Crear Producto"
					action="#{productoBean.crearProducto}" update="@form" />
			</h:panelGrid>
		</h:form>
	</p:panel>
</body>
</html>