<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:h = "http://xmlns.jcp.org/jsf/html">
<head>
<meta charset="UTF-8"></meta>
<title>Ejemplo</title>
</head>
<body>

	<h:form>
		<h:inputText value="#{ejemploBean.atributo1}" />
		<h:inputText value="#{ejemploBean.atributo2}" />
		<h:commandButton value="Cambiar Valores" action="#{ejemploBean.cambiar}" />
	</h:form>
	
</body>
</html>