<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista de Productos</title>
</h:head>
<body>
	
	<p:dataTable value="#{productoBean.productos}" var="producto">
		
		<p:column headerText="Codigo">
			<h:outputText value="#{producto.codigo}"></h:outputText>
		</p:column>
		
		<p:column headerText="Nombre">
			<h:outputText value="#{producto.nombre}"></h:outputText>
		</p:column>
		
		<p:column headerText="Precio">
			<h:outputText value="#{producto.precio}"></h:outputText>
		</p:column>
		
		<p:column headerText="Fecha Limite">
			<h:outputText value="#{producto.fechaLimite}"></h:outputText>
		</p:column>
		
		<p:column headerText="Descripcion">
			<h:outputText value="#{producto.descripcion}"></h:outputText>
		</p:column>
		
		<p:column headerText="Tipo Producto">
			<h:outputText value="#{producto.tipoProducto.nombre}"></h:outputText>
		</p:column>
		
	</p:dataTable>
	
</body>
</html>