<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Detalle Producto Creado</title>
</head>
<body>
	<h1>Detalle Producto Creado</h1>

	<h:outputLabel value="#{productoBean.codigo}"></h:outputLabel>
	<h:outputLabel value="#{productoBean.nombre}"></h:outputLabel>
	<h:outputLabel value="#{productoBean.descripcion}"></h:outputLabel>
	<h:outputLabel value="#{productoBean.fechaLimite}"></h:outputLabel>
	<h:outputLabel value="#{productoBean.tipoProducto}"></h:outputLabel>
	<h:outputLabel value="#{productoBean.precio}"></h:outputLabel>
	<h:outputLabel value="#{productoBean.disponibilidad}"></h:outputLabel>

</body>
</html>